<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Latest compiled and minified CSS -->

  
  <title>CSS | Google Fonts</title>
  <style>
    @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
    @import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
    @import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
    @import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
    .hn {font-family: 'Hanna';}
    .nbs {font-family: 'Nanum Brush Script';}
    .ng {font-family: 'Nanum Gothic';}
    .ngc {font-family: 'Nanum Gothic Coding';}
    .nm {font-family: 'Nanum Myeongjo';}
    .nps {font-family: 'Nanum Pen Script';}
  </style>
  
</head>
<body>

<%= yield %>

</body>
</html>
